h1{
    color:green;
    text-align: center;
    margin-bottom:0;
  }

#container{
  width: 950px;
  height:250px;
  margin: 0 auto;

}

#header{
 background-color: #FFA500;
}

#menu{

	background-color: #FFD700;
	height: 350px;
	width: 100px;
	float: left;

}

#content{
   background-color: #B8B8B8 ;
   height:350px;
   width: 950px;
}

#footer{
   background-color: #FFA500;
   clear:both;
   text-align: center;
}